body {
    background-image: url(../img/fondopantalla.jpg);
}

.navbar.navbar-expand-lg.navbar-dark.bg-secondary{
background-image: url(../img/fondonav.jpg);
}

h1,h2,h3 {
    color: white;
}

p {
    font-family: verdana;
    font-size: 16px;
}

li {
    font-family: sans-serif;
    font-size: 16px;
}


/* las clases van con .  class="panel" */
.panel {
    
    margin: 5px;
    padding: 5px;
}

table{
    background-color: black;
    border: 10;
}

#titulotabla{
    background-color: teal;
    text-align: center;
}

th{
    background-color: turquoise;
    text-align: center;
}
tr{
    background-color: rgb(245, 245, 119);
    text-align: center;
}


